version: '3.8'

services:
  db:
    image: postgres
    container_name: insider_postgres_db_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: insider_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d insider_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - postgres

  pgadmin:
    image: dpage/pgadmin4
    container_name: insider_pgadmin_container
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres

  app:
    build: .
    container_name: service-insider-app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - postgres

volumes:
  pgadmin:

networks:
  postgres:
